.child {
  position: absolute;
  top: 0;
  left: 497px;
  background-color: var(--color-linen);
  width: 526.95px;
  height: 826px;
}
.p {
  margin: 0;
}
.div1 {
  top: 0;
  left: 15px;
  letter-spacing: 0.02em;
  line-height: 110%;
  font-weight: 500;
  display: inline-block;
  width: 556px;
}
.div1,
.div2,
.slide-1 {
  position: absolute;
}
.div2 {
  top: 167px;
  left: 15px;
  font-size: var(--h4-size);
  letter-spacing: 0.02em;
  line-height: 140%;
  display: inline-block;
  width: 385px;
}
.slide-1 {
  top: 265px;
  left: 0;
  width: 562px;
  height: 385px;
}
.photo-1094-1-icon {
  position: absolute;
  top: 130px;
  left: 574px;
  width: 425.2px;
  height: 667px;
  object-fit: cover;
}
.mega-sport {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 158px;
  height: 26px;
  flex-shrink: 0;
}
.div5 {
  top: 0;
  left: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div4,
.div5,
.icon {
  position: absolute;
}
.icon {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.div4 {
  top: 17px;
  left: 26px;
  width: 184px;
  height: 26px;
}
.vector-icon {
  height: 75.94%;
  width: 61.94%;
  top: 9.68%;
  right: 18.71%;
  bottom: 14.38%;
  left: 19.35%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}
.div3,
.vector-icon,
.vector-wrapper {
  position: absolute;
  overflow: hidden;
}
.vector-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 11px;
  left: 950px;
  width: 31px;
  height: 31px;
}
.div3 {
  top: 0;
  left: 0;
  width: 1003.2px;
  height: 52px;
}
.button,
.button1,
.div6 {
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  line-height: 140%;
  display: inline-block;
}
.div6 {
  position: absolute;
  top: 20px;
  left: 820px;
  width: 108.8px;
}
.button,
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-family: var(--h4);
  text-align: left;
}
.button {
  font-weight: 700;
  color: var(--cta);
}
.button1 {
  color: var(--color-black);
}
.group {
  top: 30px;
  left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
}
.div,
.group,
.parent {
  position: absolute;
}
.parent {
  top: 13px;
  left: 12px;
  width: 1003.2px;
  height: 56px;
  font-size: var(--font-size-base);
}
.div {
  top: 0;
  left: 0;
  width: 1023.95px;
  height: 826px;
}
.div10,
.div9 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.div9 {
  line-height: 110%;
  z-index: 0;
}
.div10 {
  font-size: var(--font-size);
  line-height: 140%;
  font-family: var(--h4);
  color: var(--color-black);
  text-align: left;
}
.button4 {
  left: 613px;
  z-index: 0;
}
.button4,
.button5,
.button6 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-lgi) var(--padding-46xl);
  background-color: transparent;
  margin: 0px;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button5 {
  left: 812px;
  z-index: 1;
}
.button6 {
  left: 402px;
  z-index: 2;
}
.div13 {
  position: relative;
  font-size: var(--font-size);
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  font-family: var(--h4);
  color: var(--color-white);
  text-align: left;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-46xl);
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 3;
}
.button7,
.button8,
.container {
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button8 {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-lgi) var(--padding-46xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 191px;
  overflow: hidden;
  z-index: 4;
}
.container {
  top: 105px;
  left: 11px;
  width: 984px;
  gap: var(--gap-3xs);
  z-index: 1;
}
.button9,
.container,
.div15 {
  position: absolute;
}
.div15 {
  top: calc(50% - 12px);
  left: calc(50% - 84px);
  font-size: var(--font-size);
  letter-spacing: 0.02em;
  line-height: 138.9%;
  font-family: var(--h4);
  color: var(--cta);
  text-align: center;
  z-index: 10 !important;
}
.button10,
.button9 {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid var(--cta);
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  margin: 0 !important;
  top: 530px;
  left: 39px;
  box-sizing: border-box;
  width: 268px;
  height: 72px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 10 !important;
}
.button9 {
  margin: 0 !important;
  left: 25px;
  flex-shrink: 0;
}
.button10 {
  left: 370px;
  z-index: 1;
}
.button10:hover,
.button11:hover,
.button9:hover {
  background-color: var(--color-cadetblue-100);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  color: #fff;
}
.button10,
.button11,
.icon1,
.icon2,
.icon3 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.button11 {
  cursor: pointer;
  border: 1px solid var(--cta);
  padding: 0;
  background-color: var(--color-white);
  top: 530px;
  left: 710px;
  box-sizing: border-box;
  width: 268px;
  height: 72px;
  overflow: hidden;
  z-index: 10 !important;
}
.icon1 {
  top: 54px;
  left: 707px;
  height: 428px;
  object-fit: cover;
  z-index: 0;
}
.icon1,
.icon2 {
  width: 286px;
}
.icon2,
.icon3 {
  top: 54px;
  height: 428px;
  object-fit: cover;
}
.icon2 {
  left: 365px;
  z-index: 1;
}
.icon3 {
  left: 22px;
  width: 287px;
  z-index: 2;
}
.div18,
.div8,
.frame-div {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.div18 {
  margin: 0 !important;
  position: absolute;
  top: 29px;
  left:-5px;
  width: 1016px;
  height: 606px;
  flex-direction: row;
  padding: 0 var(--padding-466xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-11xl);
  z-index: 3;
}
.div8,
.frame-div {
  width: 1024px;
  flex-direction: column;
}
.frame-div {
  margin: 0 !important;
  position: absolute;
  top: 100px;
  left: 0;
  height: 656px;
  align-items: center;
  gap: var(--gap-46xl);
  z-index: 2;
}
.div8 {
  height: 885px;
  padding: 0 var(--padding-478xl) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-73xl);
  z-index: 0;
}
.div19,
.div20,
.div21 {
  position: absolute;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.div19 {
  top: 0;
  font-size: var(--h2-size);
  line-height: 110%;
}
.div20,
.div21 {
  width: 43.26%;
  top: 34.78%;
  line-height: 140%;
  display: inline-block;
}
.div21 {
  top: 145px;
  font-size: var(--font-size);
  width: 305px;
  height: 115px;
}
.frame-child,
.parent2 {
  position: absolute;
  top: 4px;
  left: 0;
  width: 76px;
  height: 78px;
}
.parent2 {
  top: 116px;
  left: 372px;
  width: 335px;
  height: 276px;
  overflow: hidden;
}
.frame-item {
  position: absolute;
  top: 14px;
  left: 7px;
  width: 61px;
  height: 61px;
}
.div22 {
  position: absolute;
  width: 40.22%;
  top: 35.29%;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.frame-group,
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 363px;
  height: 272px;
  overflow: hidden;
}
.frame-parent {
  top: 118px;
  left: 36px;
  width: 277px;
  mix-blend-mode: normal;
}
.div24,
.wrapper {
  position: absolute;
  left: 0;
}
.div24 {
  top: 35.29%;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
}
.wrapper {
  top: 0;
  width: 350px;
  height: 272px;
  overflow: hidden;
}
.frame-inner {
  position: absolute;
  top: 12px;
  left: 7px;
  width: 63px;
  height: 63px;
}
.frame-container,
.parent1 {
  position: absolute;
  overflow: hidden;
}
.frame-container {
  top: 118px;
  left: 721px;
  width: 276px;
  height: 272px;
  mix-blend-mode: normal;
}
.parent1 {
  margin: 0 !important;
  top: 885px;
  left: 4px;
  background-color: var(--color-white);
  width: 1024px;
  height: 394px;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--h3-size);
}
.div27,
.mega-sport-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
}
.mega-sport-container {
  top: 63px;
  font-size: var(--font-size);
  display: inline-block;
  width: 255px;
}
.parent3,
.sport2610-1-1 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.parent3 {
  top: 150px;
  left: 739px;
  width: 255px;
  height: 331px;
  z-index: 1;
  font-size: var(--h3-size);
}
.sport2610-1-1 {
  top: 150px;
  left: 1px;
  width: 655px;
  height: 369px;
  background-image: url(./public/sport2610111@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.div26,
.div7 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div26 {
  margin: 0 !important;
  top: 1279px;
  left: 4px;
  width: 1016px;
  height: 548px;
  flex-shrink: 0;
  gap: var(--gap-73xl);
  z-index: 2;
}
.div7 {
  top: 869px;
  left: 0;
  width: 1024px;
  height: 1803px;
  font-size: var(--h2-size);
}
.div28,
.div29 {
  left: 4px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.div28 {
  position: absolute;
  top: 0;
  font-size: var(--h2-size);
  line-height: 110%;
}
.div29 {
  top: 7px;
  line-height: 140%;
}
.div29,
.div30,
.parent4 {
  position: absolute;
}
.div30 {
  top: 7px;
  left: 95px;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 152px;
  height: 24px;
}
.parent4 {
  top: 48px;
  left: 0;
  width: 322px;
  height: 40px;
  overflow: hidden;
}
.elb00308gbstuby {
  top: 7px;
  left: 95px;
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 204px;
  height: 24px;
}
.div33,
.elb00308gbstuby,
.parent5 {
  position: absolute;
}
.parent5 {
  top: 79px;
  left: 0;
  width: 322px;
  height: 40px;
  overflow: hidden;
}
.div33 {
  top: 4px;
  left: 97px;
  font-size: var(--h4-size);
  letter-spacing: 0.02em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 308px;
}
.contakts,
.parent6 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.parent6 {
  top: 110px;
  width: 405px;
  height: 40px;
}
.contakts {
  top: 2763px;
  width: 497px;
  height: 162px;
  font-size: var(--font-size);
}
.mega-sport3 {
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
}
.mega-sport-wrapper {
  position: absolute;
  top: 104px;
  left: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.button12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-mini);
  letter-spacing: 0.02em;
  line-height: 140%;
  font-family: var(--h4);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 147px;
}
.parent7 {
  position: absolute;
  top: 105px;
  left: 869px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.div36 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 140%;
}
.div35 {
  position: absolute;
  top: 201px;
  left: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: var(--font-size-smi);
}
.vector-icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  height: 53.91%;
  width: 53.91%;
  top: 23.05%;
  right: 23.05%;
  bottom: 23.05%;
  left: 23.05%;
}
.vector-icon3 {
  height: 7.81%;
  width: 7.81%;
  top: 18.75%;
  right: 18.75%;
  bottom: 73.44%;
  left: 73.44%;
}
.facebook-1-1,
.instagram-1-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.instagram-1-1 {
  width: 22px;
  height: 22px;
}
.facebook-1-1 {
  width: 21px;
  height: 21px;
}
.vector-icon5 {
  position: absolute;
  height: 81.25%;
  width: 100%;
  top: 9.38%;
  right: 0;
  bottom: 9.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.twitter-1-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  overflow: hidden;
}
.div39 {
  position: absolute;
  top: 178px;
  left: 869px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.visa-mastercard-1-icon {
  position: absolute;
  top: 221px;
  left: 869px;
  width: 68px;
  height: 22px;
  object-fit: cover;
}
.github {
  text-decoration: none;
  top: calc(50% + 57.5px);
  left: 84.86%;
  line-height: 50px;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.div34,
.figma,
.github {
  position: absolute;
}
.figma {
  top: 271px;
  left: 869px;
  text-decoration: underline;
  line-height: 50px;
  font-family: var(--font-inter);
  display: inline-block;
  width: 112px;
  height: 39px;
}
.div34 {
  top: 2933px;
  left: 0px;
  background-color: var(--color-linen);
  width: 1024px;
  height: 363px;
  overflow: hidden;
  font-size: var(--h4-size);
}
.main-1024 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 10000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--color-black);
  font-family: var(--h4);
}

.hamburger-menu{
  visibility: hidden;
}


@media screen and (max-width: 768px) {
  .hamburger-menu{
    visibility: hidden;
  }
  .child {
    position: absolute;
    top: 0;
    left: 372.79px;
    background-color: var(--color-linen);
    width: 395.21px;
    height: 826px;
  }
  .p {
    margin: 0;
  }
  .div1 {
    top: 0;
    left: 15px;
    letter-spacing: 0.02em;
    line-height: 110%;
    font-weight: 500;
    display: inline-block;
    width: 364px;
  }
  .div1,
  .div2,
  .slide-1 {
    position: absolute;
  }
  .div2 {
    top: 244px;
    left: 15px;
    font-size: var(--h4-size);
    letter-spacing: 0.02em;
    line-height: 140%;
    display: inline-block;
    width: 341px;
  }
  .slide-1 {
    top: 148px;
    left: 0;
    width: 585px;
    height: 405px;
  }
  .photo-1094-1-icon {
    position: absolute;
    top: 130px;
    left: 372px;
    width: 389.4px;
    height: 667px;
    object-fit: cover;
  }
  .mega-sport {
    position: relative;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 164px;
    height: 32px;
    flex-shrink: 0;
  }
  .div5 {
    position: absolute;
    top: 0;
    left: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div4,
  .icon {
    position: absolute;
    left: 0;
  }
  .icon {
    top: 0;
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
  .div4 {
    top: 17px;
    width: 190px;
    height: 32px;
  }
  .vector-icon {
    height: 75.94%;
    width: 61.94%;
    top: 9.68%;
    right: 18.71%;
    bottom: 14.38%;
    left: 19.35%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
  }
  .div3,
  .vector-icon,
  .vector-wrapper {
    position: absolute;
    overflow: hidden;
  }
  .vector-wrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 11px;
    left: 715px;
    width: 31px;
    height: 31px;
  }
  .div3 {
    top: 0;
    left: 0;
    width: 752.4px;
    height: 52px;
  }
  .button,
  .button1,
  .button2,
  .button3,
  .div6 {
    font-size: var(--font-size-mini);
    letter-spacing: 0.02em;
    line-height: 140%;
    display: inline-block;
  }
  .div6 {
    position: absolute;
    top: 30px;
    left: 570px;
    width: 142px;
    height: 20px;
  }
  .button,
  .button1,
  .button2,
  .button3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-family: var(--h4);
    text-align: left;
  }
  .button {
    font-weight: 700;
    color: var(--cta);
  }
  .button1,
  .button2,
  .button3 {
    color: var(--color-black);
  }
  .button2,
  .button3 {
    width: 74px;
    flex-shrink: 0;
  }
  .button3 {
    width: 79px;
  }
  .group {
    top: 30px;
    left: 228px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .div,
  .group,
  .parent {
    position: absolute;
  }
  .parent {
    top: 13px;
    left: 9px;
    width: 752.4px;
    height: 52px;
    font-size: var(--font-size-base);
  }
  .div {
    top: 0;
    left: 0;
    width: 768px;
    height: 826px;
  }
  .div10,
  .div9 {
    position: relative;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .div9 {
    line-height: 110%;
    z-index: 0;
  }
  .div10 {
    font-size: var(--font-size);
    line-height: 140%;
    font-family: var(--h4);
    color: var(--color-black);
    text-align: left;
  }
  .button4,
  .button5,
  .button6,
  .button8 {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-lgi) var(--padding-46xl);
    background-color: transparent;
    margin: 0px;
    position: absolute;
    top: 12px;
    left: 194px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
  }
  .button5,
  .button6,
  .button8 {
    top: 83px;
    left: 326px;
    z-index: 1;
  }
  .button6,
  .button8 {
    left: 105px;
    z-index: 2;
  }
  .button8 {
    top: 12px;
    left: 391px;
    z-index: 3;
  }
  .div13 {
    position: relative;
    font-size: var(--font-size);
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    font-family: var(--h4);
    color: var(--color-white);
    text-align: left;
  }
  .button7,
  .container {
    margin: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .button7 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lgi) var(--padding-46xl);
    background-color: var(--color-black);
    position: absolute;
    top: 12px;
    left: 8px;
    overflow: hidden;
    z-index: 4;
  }
  .container {
    top: 53px;
    left: 66px;
    width: 597px;
    height: 167px;
    flex-shrink: 0;
    gap: var(--gap-3xs);
    z-index: 1;
  }
  .button9,
  .container,
  .div15 {
    position: absolute;
  }
  .div15 {
    top: calc(50% - 12px);
    left: calc(50% - 84px);
    font-size: var(--font-size);
    letter-spacing: 0.02em;
    line-height: 138.9%;
    font-family: var(--h4);
    color: var(--cta);
    text-align: center;
  }
  .button9 {
    cursor: pointer;
    border: 1px solid var(--cta);
    padding: 0;
    background-color: var(--color-white);
    margin: 0 !important;
    top: 585px;
    left: 5px;
    box-sizing: border-box;
    width: 268px;
    height: 72px;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 0;
  }
  .button10,
  .button10:hover,
  .button11:hover,
  .button9:hover {
    background-color: var(--color-cadetblue-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
  }
  .button10 {
    cursor: pointer;
    border: 1px solid var(--cta);
    padding: 0;
    background-color: var(--color-white);
    top: 585px;
    left: 420px;
    width: 268px;
    height: 72px;
    overflow: hidden;
    z-index: 10 !important;
  }
  .button10,
  .button11,
  .icon1,
  .icon2,
  .icon3 {
    position: absolute;
    margin: 0 !important;
    flex-shrink: 0;
  }
  .button11 {
    cursor: pointer;
    border: 1px solid var(--cta);
    padding: 0;
    background-color: var(--color-white);
    top: 1234px;
    left: 215px;
    box-sizing: border-box;
    width: 268px;
    height: 72px;
    overflow: hidden;
    z-index: 2;
  }
  .icon1,
  .icon2,
  .icon3 {
    top: 597px;
    left: 168px;
    width: 402px;
    height: 536px;
    object-fit: cover;
    z-index: 0;
  }
  .icon2,
  .icon3 {
    top: -1px;
    left: 430px;
    width: 284px;
    height: 488px;
    z-index: 1;
  }
  .icon3 {
    top: -0.5px;
    left: 0;
    width: 315px;
    height: 489px;
    z-index: 2;
  }
  .div18,
  .div8,
  .frame-div {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
  }
  .div18 {
    margin: 0 !important;
    position: absolute;
    top: 75px;
    left: -20px;
    width: 738px;
    height: 488px;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-11xl);
    z-index: 3;
  }
  .div8,
  .frame-div {
    width: 732px;
    flex-direction: column;
  }
  .frame-div {
    margin: 0 !important;
    position: absolute;
    top: 160px;
    left: -40px;
    height: 1306px;
    align-items: center;
    gap: var(--gap-46xl);
    z-index: 2;
  }
  .div8 {
    height: 1490px;
    align-items: flex-start;
    position: relative;
    gap: var(--gap-73xl);
    z-index: 0;
  }
  .div19,
  .div20,
  .div21 {
    position: absolute;
    left: 0;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .div19 {
    top: 0;
    font-size: var(--h2-size);
    line-height: 110%;
  }
  .div20,
  .div21 {
    width: 43.26%;
    top: 34.78%;
    line-height: 140%;
    display: inline-block;
  }
  .div21 {
    top: 145px;
    font-size: var(--font-size);
    width: 305px;
    height: 115px;
  }
  .frame-child,
  .parent2 {
    position: absolute;
    top: 4px;
    left: 0;
    width: 76px;
    height: 78px;
  }
  .parent2 {
    top: 72px;
    left: 372px;
    width: 335px;
    height: 276px;
    overflow: hidden;
  }
  .frame-item {
    position: absolute;
    top: 14px;
    left: 7px;
    width: 61px;
    height: 61px;
  }
  .div22 {
    position: absolute;
    top: 35.29%;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
  }
  .frame-group,
  .frame-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 272px;
    overflow: hidden;
  }
  .frame-parent {
    top: 76px;
    left: 11px;
    mix-blend-mode: normal;
  }
  .frame-inner {
    position: absolute;
    top: 12px;
    left: 7px;
    width: 63px;
    height: 63px;
  }
  .frame-container,
  .parent1 {
    position: absolute;
    overflow: hidden;
  }
  .frame-container {
    top: 325px;
    left: 254px;
    width: 276px;
    height: 272px;
    mix-blend-mode: normal;
  }
  .parent1 {
    margin: 0 !important;
    top: 1540px;
    left: 0;
    background-color: var(--color-white);
    width: 739px;
    height: 597px;
    flex-shrink: 0;
    z-index: 1;
    font-size: var(--h3-size);
  }
  .div27,
  .mega-sport-container {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
  }
  .mega-sport-container {
    top: 63px;
    font-size: var(--font-size);
    display: inline-block;
    width: 650px;
  }
  .parent3 {
    position: absolute;
    margin: 0 !important;
    top: 524px;
    left: 43px;
    width: 650px;
    height: 331px;
    flex-shrink: 0;
    z-index: 1;
    font-size: var(--h3-size);
  }
  .sport2610-1-1 {
    position: relative;
    top: 0px;
    width: 655px;
    height: 369px;
    flex-shrink: 0;
    background-image: url(./public/sport2610111@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 2;
  }
  .div26,
  .div7 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .div26 {
    margin: 0 !important;
    top: 2137px;
    left: -12px;
    width: 751px;
    gap: var(--gap-73xl);
    z-index: 2;
  }
  .div7 {
    top: 845px;
    left: 19px;
    width: 739px;
    height: 2860px;
    gap: 50px;
    font-size: var(--h2-size);
  }
  .div28,
  .div29 {
    left: 4px;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .div28 {
    position: absolute;
    top: 0;
    font-size: var(--h2-size);
    line-height: 110%;
  }
  .div29 {
    top: 7px;
    line-height: 140%;
  }
  .div29,
  .div30,
  .parent4 {
    position: absolute;
  }
  .div30 {
    top: 5.69px;
    left: 95.22px;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    display: inline-block;
    width: 152px;
    height: 24px;
    transform: rotate(0.99deg);
    transform-origin: 0 0;
  }
  .parent4 {
    top: 48px;
    left: 0;
    width: 322px;
    height: 40px;
    overflow: hidden;
  }
  .elb00308gbstuby {
    top: 7px;
    left: 95px;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    display: inline-block;
    width: 204px;
    height: 24px;
  }
  .div33,
  .elb00308gbstuby,
  .parent5 {
    position: absolute;
  }
  .parent5 {
    top: 79px;
    left: 0;
    width: 322px;
    height: 40px;
    overflow: hidden;
  }
  .div33 {
    top: 4px;
    left: 97px;
    font-size: var(--h4-size);
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    display: inline-block;
    width: 308px;
  }
  .contakts,
  .parent6 {
    position: absolute;
    top: 110px;
    left: 0;
    width: 405px;
    height: 60px;
  }
  .contakts {
    top: 3705px;
    left: 7px;
    width: 497px;
    height: 162px;
    font-size: var(--font-size);
  }
  .mega-sport3 {
    position: relative;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .mega-sport-wrapper {
    position: absolute;
    top: 102px;
    left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-base);
  }
  .a {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    color: inherit;
  }
  .parent7 {
    position: absolute;
    top: 102px;
    left: 602px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    font-size: var(--font-size-mini);
  }
  .div36 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
  }
  .div35 {
    position: absolute;
    top: 238px;
    left: 30px;
    width: 204px;
    height: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    font-size: var(--font-size-smi);
  }
  .vector-icon1,
  .vector-icon2,
  .vector-icon3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon2,
  .vector-icon3 {
    height: 53.91%;
    width: 53.91%;
    top: 23.05%;
    right: 23.05%;
    bottom: 23.05%;
    left: 23.05%;
  }
  .vector-icon3 {
    height: 7.81%;
    width: 7.81%;
    top: 18.75%;
    right: 18.75%;
    bottom: 73.44%;
    left: 73.44%;
  }
  .facebook-1-1,
  .instagram-1-1 {
    text-decoration: none;
    position: relative;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .facebook-1-1 {
    width: 21px;
    height: 21px;
  }
  .vector-icon5 {
    position: absolute;
    height: 81.25%;
    width: 100%;
    top: 9.38%;
    right: 0;
    bottom: 9.38%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .twitter-1-1 {
    text-decoration: none;
    position: relative;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .div39 {
    position: absolute;
    top: 175px;
    left: 603px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .visa-mastercard-1-icon {
    position: absolute;
    top: 212px;
    left: 602px;
    width: 68px;
    height: 22px;
    object-fit: cover;
  }
  .github {
    text-decoration: none;
    top: calc(50% + 42.5px);
    left: 78.39%;
    line-height: 50px;
    font-family: var(--font-inter);
    color: var(--color-white);
  }
  .div34,
  .figma,
  .github {
    position: absolute;
  }
  .figma {
    top: 256px;
    left: 603px;
    text-decoration: underline;
    line-height: 50px;
    font-family: var(--font-inter);
    display: inline-block;
    width: 112px;
    height: 39px;
  }
  .div34 {
    top: 3867px;
    left: 0px;
    background-color: var(--color-linen);
    width: 768px;
    height: 363px;
    overflow: hidden;
    font-size: var(--h4-size);
  }
  .main-768 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 4230px;
    overflow: hidden;
    text-align: left;
    font-size: var(--h1-size);
    color: var(--color-black);
    font-family: var(--h4);
  }  
}

@media screen and (max-width: 320px) { 
  .header___burger{
    width: 40px;
    height: 28px;
    position: relative;
  }

  .burger___line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: coral;
    position: absolute;
    right: 0;
  }

  .burger_line_first{
    top: 0;
  }

  .burger_line_second{
    top: 50%;
    transform: translateY(-50%);
  }

  .burger_line_third{
    bottom: 0;
  }

  .vector-icon{
    visibility: hidden;
  }
  .div7 {
    top: 950px;
    left: 0px;
    width: 739px;
    height: 2860px;
    gap: 50px;
    font-size: var(--h2-size);
  }
  .child {
    position: absolute;
    top: 0;
    left: 152px;
    background-color: var(--color-linen);
    width: 166px;
    height: 952px;
  }
  .p {
    margin: 0;
  }
  .div1,
  .div2 {
    position: absolute;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .div1 {
    top: 0;
    left: 0;
    line-height: 110%;
    font-weight: 500;
    width: 320px;
  }
  .div2 {
    top: 255px;
    left: 4px;
    font-size: var(--h4-size);
    line-height: 140%;
    width: 312px;
  }
  .slide-1 {
    position: absolute;
    top: 79px;
    left: 0;
    width: 318.41px;
    height: 558px;
  }
  .div45,
  .photo-1094-1-icon {
    position: absolute;
    width: 280.6px;
    height: 450px;
  }
  .photo-1094-1-icon {
    top: 502px;
    left: 20px;
    object-fit: cover;
  }
  .div45 {
    top: 502px;
    left: 11.94px;
  }
  .mega-sport4 {
    position: relative;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 158px;
    height: 26px;
    flex-shrink: 0;
  }
  .div5 {
    top: 0;
    left: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .div4,
  .div5,
  .icon {
    position: absolute;
  }
  .icon {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
  .div4 {
    top: 17px;
    left: 26px;
    width: 184px;
    height: 26px;
  }
  .div3 {
    height: 52px;
    overflow: hidden;
  }
  .div,
  .div3,
  .parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
  }
  .parent {
    height: 52px;
    font-size: var(--font-size-base);
  }
  .div {
    height: 952px;
  }
  .div19,
  .div20,
  .div21 {
    position: absolute;
    left: 0;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: inline-block;
  }
  .div19 {
    top: 0;
    font-size: var(--h2-size);
    line-height: 110%;
    width: 313px;
    height: 81px;
  }
  .div20,
  .div21 {
    width: 43.26%;
    top: 34.78%;
    line-height: 140%;
  }
  .div21 {
    top: 145px;
    font-size: var(--font-size);
    width: 305px;
    height: 115px;
  }
  .frame-child,
  .parent2 {
    position: absolute;
    top: 4px;
    left: 0;
    width: 76px;
    height: 78px;
  }
  .parent2 {
    top: 656px;
    left: 8px;
    width: 309px;
    height: 276px;
    overflow: hidden;
  }
  .frame-item {
    position: absolute;
    top: 14px;
    left: 7px;
    width: 61px;
    height: 61px;
  }
  .div22 {
    position: absolute;
    top: 35.29%;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
  }
  .frame-parent,
  .frame-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 272px;
    overflow: hidden;
  }
  .frame-parent {
    top: 112px;
    left: 9px;
    width: 305px;
    mix-blend-mode: normal;
  }
  .frame-inner,
  .frame-container {
    position: absolute;
    top: 12px;
    left: 7px;
    width: 63px;
    height: 63px;
  }
  .frame-container {
    top: 384px;
    left: 8px;
    width: 309px;
    height: 272px;
    overflow: hidden;
    mix-blend-mode: normal;
  }
  .div9,
  .parent1 {
    flex-shrink: 0;
    z-index: 0;
  }
  .parent1 {
    position: absolute;
    margin: 0 !important;
    top: 2313px;
    left: -3px;
    background-color: var(--color-white);
    width: 319px;
    height: 956px;
    overflow: hidden;
    font-size: var(--h3-size);
  }
  .div9 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 110%;
    font-weight: 500;
    display: inline-block;
    width: 285px;
    height: 85px;
  }
  .div27,
  .mega-sport-container {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
  }
  .mega-sport-container {
    top: 63px;
    font-size: var(--font-size);
    display: inline-block;
    width: 255px;
  }
  .parent3 {
    top: 303px;
    left: 27px;
    width: 271px;
    height: 279px;
    z-index: 1;
    font-size: var(--h3-size);
  }
  .div26,
  .parent3,
  .sport2610-1-1 {
    margin: 0 !important;
    position: absolute;
    flex-shrink: 0;
  }
  .sport2610-1-1 {
    top: 150px;
    left: 2px;
    width: 317px;
    height: 190px;
    background-image: url(./public/sport261011@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 2;
  }
  .div26 {
    top: 3245px;
    left: -2px;
    width: 320px;
    height: 589px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-73xl);
    z-index: 1;
  }
  .div10 {
    position: relative;
    font-size: var(--font-size);
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    font-family: var(--font);
    color: var(--color-black);
    text-align: center;
  }
  .button8,
  .button6,
  .button5,
  .button4 {
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-lgi) var(--padding-46xl);
    background-color: transparent;
    margin: 0 !important;
    position: absolute;
    top: 339px;
    left: 65px;
    box-sizing: border-box;
    width: 185px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
  }
  .button8,
  .button6,
  .button4 {
    top: 254px;
    z-index: 1;
  }
  .button8,
  .button6 {
    top: 85px;
    z-index: 2;
  }
  .button6 {
    top: 172px;
    z-index: 3;
  }
  .div13 {
    position: relative;
    font-size: var(--font-size);
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    font-family: var(--font);
    color: var(--color-white);
    text-align: center;
  }
  .button7,
  .container {
    margin: 0 !important;
    position: absolute;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .button7 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-lgi) var(--padding-46xl);
    background-color: var(--color-black);
    top: 0;
    left: 65px;
    width: 185px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 4;
  }
  .container {
    top: 64px;
    left: -10px;
    width: 319px;
    height: 417px;
    gap: var(--gap-3xs);
    z-index: 0;
  }
  .div9,
  .div15 {
    letter-spacing: 0.02em;
  }
  .div9 {
    position: relative;
    line-height: 110%;
    font-weight: 500;
    z-index: 1;
  }
  .div15 {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 84px);
    font-size: var(--font-size);
    line-height: 138.9%;
    font-family: var(--font);
    color: var(--cta);
    text-align: center;
  }
  .button9 {
    cursor: pointer;
    border: 1px solid var(--cta);
    padding: 0;
    background-color: var(--color-white);
    position: absolute;
    margin: 0 !important;
    top: 1636px;
    left: 38px;
    box-sizing: border-box;
    width: 268px;
    height: 72px;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 0;
  }
  .button9:hover,
  .button10,
  .button10:hover,
  .button11:hover {
    background-color: var(--color-cadetblue-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
  }
  .button10 {
    cursor: pointer;
    border: 1px solid var(--cta);
    padding: 0;
    background-color: var(--color-white);
    top: 1058px;
    left: 37px;
    width: 268px;
    height: 72px;
    overflow: hidden;
    z-index: 1;
  }
  .button10,
  .button11,
  .icon1,
  .icon2,
  .icon3 {
    position: absolute;
    margin: 0 !important;
    flex-shrink: 0;
  }
  .button11 {
    cursor: pointer;
    border: 1px solid var(--cta);
    padding: 0;
    background-color: var(--color-white);
    top: 498px;
    left: 38px;
    box-sizing: border-box;
    width: 268px;
    height: 72px;
    overflow: hidden;
    z-index: 2;
  }
  .icon1,
  .icon2,
  .icon3 {
    top: 674px;
    left: 14px;
    width: 286px;
    height: 428px;
    object-fit: cover;
    z-index: 0;
  }
  .icon2,
  .icon3 {
    top: 1252px;
    z-index: 1;
  }
  .icon3 {
    top: 107px;
    z-index: 2;
  }
  .div49,
  .div8,
  .div18,
  .frame-div {
    display: flex;
    justify-content: flex-start;
  }
  .div18 {
    margin: 0 !important;
    position: absolute;
    top: -70px;
    left: 15px;
    width: 315px;
    height: 1803px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 var(--padding-466xl) 0 0;
    box-sizing: border-box;
    align-items: center;
    gap: var(--gap-11xl);
    z-index: 3;
  }
  .div49,
  .div8,
  .frame-div {
    flex-direction: column;
  }
  .frame-div {
    margin: 0 !important;
    position: absolute;
    top: 481px;
    left: -3px;
    width: 319px;
    height: 1832px;
    flex-shrink: 0;
    align-items: center;
    gap: var(--gap-46xl);
    z-index: 2;
  }
  .div49,
  .div8 {
    align-items: flex-start;
  }
  .div8 {
    top: 20px;
    width: 319px;
    height: 2313px;
    flex-shrink: 0;
    padding: 0 var(--padding-478xl) 0 0;
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-73xl);
    z-index: 2;
    margin-top: -1px;
  }
  .div49 {
    position: absolute;
    top: 975px;
    left: 0;
    width: 320px;
    height: 3867px;
    font-size: var(--h2-size);
  }
  .div28,
  .div29,
  .div30 {
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .div28 {
    position: absolute;
    top: 0;
    left: 4px;
    font-size: var(--h2-size);
    line-height: 110%;
  }
  .div29,
  .div30 {
    position: relative;
    line-height: 140%;
  }
  .div30 {
    display: inline-block;
    width: 152px;
    height: 24px;
    flex-shrink: 0;
  }
  .parent4 {
    position: absolute;
    top: 48px;
    left: 0;
    width: 322px;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-9xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
  }
  .elb00308gbstuby {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
    display: inline-block;
    width: 204px;
    height: 24px;
    flex-shrink: 0;
  }
  .parent5 {
    position: absolute;
    top: 79px;
    left: 0;
    width: 322px;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-6xs) var(--padding-9xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
  }
  .div29,
  .div33 {
    position: absolute;
    top: 14px;
    left: 4px;
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
  }
  .div33 {
    top: -2px;
    left: 97px;
    font-size: 17px;
    display: inline-block;
    width: 206px;
    height: 55px;
  }
  .contakts,
  .parent14 {
    position: absolute;
    top: 110px;
    left: 0;
    width: 405px;
    height: 71px;
    overflow: hidden;
  }
  .contakts {
    top: 4810px;
    left: 1px;
    width: 319px;
    height: 185px;
    font-size: var(--font-size);
  }
  .mega-sport3 {
    position: relative;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .mega-sport-wrapper {
    position: absolute;
    top: 102px;
    left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--font-size-base);
  }
  .button12 {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
    color: inherit;
  }
  .parent7 {
    position: absolute;
    top: 135px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-4xs);
    font-size: var(--font-size-mini);
  }
  .div36 {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 140%;
  }
  .div35 {
    position: absolute;
    top: 228px;
    left: 30px;
    width: 204px;
    height: 62px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    font-size: var(--font-size-smi);
  }
  .vector-icon1,
  .group-icon1,
  .group-icon2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon1,
  .group-icon2 {
    height: 53.91%;
    width: 53.91%;
    top: 23.05%;
    right: 23.05%;
    bottom: 23.05%;
    left: 23.05%;
  }
  .group-icon2 {
    height: 7.81%;
    width: 7.81%;
    top: 18.75%;
    right: 18.75%;
    bottom: 73.44%;
    left: 73.44%;
  }
  .facebook-1-1,
  .instagram-1-1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .facebook-1-1 {
    width: 21px;
    height: 21px;
  }
  .vector-icon5 {
    position: absolute;
    height: 81.25%;
    width: 100%;
    top: 9.38%;
    right: 0;
    bottom: 9.38%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .twitter-1-1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .div39 {
    position: absolute;
    top: 193px;
    left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .visa-mastercard-1-icon {
    position: absolute;
    top: 304px;
    left: 31px;
    width: 68px;
    height: 22px;
    object-fit: cover;
  }
  .github {
    top: calc(50% + 108.5px);
    left: 34.38%;
    line-height: 50px;
    font-family: var(--font-inter);
    color: var(--color-white);
  }
  .div34,
  .figma,
  .github {
    position: absolute;
  }
  .figma {
    top: 287px;
    left: 182px;
    text-decoration: underline;
    line-height: 50px;
    font-family: var(--font-inter);
    display: inline-block;
    width: 112px;
    height: 39px;
  }
  .div34 {
    top: 4995px;
    left: -2px;
    background-color: var(--color-linen);
    width: 320px;
    height: 363px;
    overflow: hidden;
    font-size: var(--h4-size);
  }
  .main-3201 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 5358px;
    overflow: hidden;
    text-align: left;
    font-size: var(--h1-size);
    color: var(--color-black);
    font-family: var(--font);
  }
  
}

@media screen and (max-width: 767px) {
  .hamburger-menu{
    visibility: visible;
  }
  .group{
    visibility: hidden;
  }
  /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 13px;
  right: 8%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 100;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  float: right;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: coral;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.button1 {
  display: block;

  padding: 12px 24px;
  color: #333;
  left: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.button {
  display: block;
  padding: 12px 24px;
  color: #333;
  left: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
}
/* элементы меню */